* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}
/* removendo a configuração padrão de um elemento ul */
/* flex container */
header, footer {
    display: flex;
    flex-direction: row;  /*linha horizontal ou em colunas vertical? */
    justify-content: center;
    align-items: center;
     height: 100px;
    background-color: #262626;
    color: #fff;
}

ul {
     margin: 0;
     padding: 0;     
}
img {
    margin: 10px;
}
li {
    margin: 10px;
    list-style: none;
    width: 150px;
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    
}
a:link, a:active {
    text-decoration: none;
    color: #000;
    font-family: 'Lemon Milk';
}



a:hover{
    color: #44b874;
    transition: all 0.4s;
}
footer {
    height: 50px;
    background-color: #44b874;
}

.container {
    margin: 0 auto;
    width: 960px;
}
.heading {

    text-align: center;
    font-family: 'Lemon Milk';
    font-size: 45px;
    font-weight: 400;
}
